@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mirza:wght@400;500;600;700&display=swap');

body{
    font-family: Rza;
}

.wrapper4{
    background-image: url(../assets/imges/bg-image.jpg);
    width: 1278px;
    height: 530px;
    border-radius: 12px;
}

.wrappre5{
    position: relative;
}
.img6{
    position: absolute;
    left: 629px;
}

.wrapper7{
    position: relative;
}

.btnWrapp7{
    position: absolute;
    right: -30px;
}